<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/nav_bar.css' %}">
    </head>
<body>
    <header>
        <img class="logo" src="/static/imgs/Gym_Bro_logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Workout</button></a>
    </header>
    {% for info in workouts %}
    <h1>{{info.weekday}} - {{info.name}}</h1>
    {% endfor %}
    <table>
        <thead>
            <tr>
                <th>Exercises</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Rest</th>
            </tr>
        </thead>
        {% for info in sets %}
        <tbody>
            <tr>
                <td>{{info.exercises.name}}</td>
                <!-- <td>{{info.exercises.sets}}</td> -->
                <td>{{info.rep}}</td>
                <td>{{info.rest}} seconds</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    
</body>
</html>