<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
        <link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static '/css/nav_bar.css' %}">
        <link rel="stylesheet" href="{% static '/css/exercise.css' %}">
        <script src="{% static '/js/day.js'%}"></script>

    </head>
    <style>
        body {
        background-image: url("{% static '/imgs/exercise_pic.jpg' %}");
        }
    </style>
<body>
    <header>
        <img class="logo" src="/static/imgs/Gym_Bro_logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/myprofile">Profile</a></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <a class="cta" href="/workout/{{this_workout.id}}"><button>Back to Workout</button></a>
    </header>
    <main>
    <div class="container">
        <ol id="list">
        <h2>{{this_exercise.name}}</h2>
        <h3 id="setrep">Goal {{this_exercise.sets.count}} sets x {{this_exercise.goalrep}} reps each</h3>
        <form action="/add_sets_data/{{this_workout.id}}/{{this_exercise.id}}" method="POST">
            {% csrf_token %}
            {% for i in exercise_sets %}
                <li>
                    <label for="{{i.id}}_weight">weight:</label>
                    <input type="number" name="{{i.id}}_weight" min="0">lbs
                    <label for="{{i.id}}_reps">x</label>
                    <input type="number" name="{{i.id}}_reps" min="0">reps

                </li>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
        </ol>
    </div>
    <div class="containerr">
        <div class="setters">
          <div class="minutes-set">
            <button class="btn" data-setter="minutes-plus">+</button>
            <button class="btn" data-setter="minutes-minus">-</button>
          </div>
          <div class="seconds-set">
            <button class="btn" data-setter="seconds-plus">+</button>
            <button class="btn" data-setter="seconds-minus">-</button>
          </div>
        </div>
        <div class="circle"> <svg width="300" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(110,110)">
            <circle r="100" class="e-c-base"/>
            <g transform="rotate(-90)">
              <circle r="100" class="e-c-progress"/>
              <g id="e-pointer">
                <circle cx="100" cy="0" r="8" class="e-c-pointer"/>
              </g>
            </g>
          </g>
          </svg> </div>
        <div class="controlls">
          <div class="display-remain-time">00:30</div>
          <button class="play" id="pause"></button>
        </div>
      </div>
    </main>
</body>
</html>