<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Gym Bro Login and Register</title>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="{% static '/js/main.js'%}"></script>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://kit.fontawesome.com/69a83d4766.js" crossorigin="anonymous"></script>
</head>
<style>
    body {
    background-image: url("{% static '/imgs/workout_photo.png' %}");
}
</style>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/create_user" id="register" method="POST">
                {% csrf_token %}
                <h1>Create Account</h1>
                <!-- <div class="social-container"> we don't have this functionality yet
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div> 
                <span>or use your email for registration</span>-->
                <div style="padding-left: 1px; width: 100%; justify-content: space-between;">
                    <div id="error"></div>
                    <input id="form_first_name" name="form_first_name" type="text" style="width: 49%; margin-left: 0px;" required placeholder="First Name"/>
                    <input id="form_last_name" name="form_last_name" type="text" style="width: 49%;" required placeholder="Last Name"/>
                </div>
                <input name="form_email" type="email"  required placeholder="Email"/>
                <input name="form_weight" type="number" required placeholder="Weight lbs"/>
                <div style="padding-left: 1px; justify-content: space-between;">
                <input id="form_password" name="form_password" type="password" style="width: 49.25%; margin-left: 0px;" required placeholder="Password"/>
                <input id="form_confirm" name="form_confirm" type="password" style="width: 49.25%;" required placeholder="Confirm Password"/>
                </div>
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method="POST">
                {% csrf_token %}
                <h1>Sign in</h1>
                <!-- <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span> -->
                {% if messages %}
                {% for message in messages %}
                {% if message.extra_tags == "form_email" %}
                <h6>{{message}}</h6>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                {% if message.extra_tags == "form_password" %}
                <h6>{{message}}</h6>
                {% endif %}
                {% endfor %}
                {% endif %}
                <input name="form_email" type="email" required placeholder="Email" />
                <input name="form_password" type="password" required placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start your fitness journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>