<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static '/css/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static '/css/ProfilePage.css' %}">
    <link rel="stylesheet" href="{% static '/css/statGraph.css' %}">
    <!-- char_it -->
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>  
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>
    {% load chartit %}
    <!-- Nav bar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <img class="logo" src="/static/imgs/Gym_Bro_logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/meet_the_team">Meet the Team</a></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <a class="cta" href="/workout/{{today_wkout_id}}"><button>Go Workout</button></a>
    </header>
    <div class="card">
        <div class="info">
            <!-- Use Jinja to put info from our Database in the Code below -->
            <div class="name">{{profile_info.first_name}} {{profile_info.last_name}}</div>
            <div class="divider"></div>
            <!-- Use Jinja to put info from our Database in the code below -->
            <!-- Character limit for validatior should be no more than 180. -->
            <div class="bio">
                {{profile_info.desc}}
            </div>
            <!-- If we want to work on adding friends between users -->
            <button id="friend_button">Add Friend</button>
            <div id="edit"><a href="/edit_profile">Edit Profile</a></div>
            <div class="photo" style="background: url(/static/imgs/{{profile_info.profile_picture}}); background-size: 100% 100%;"></div>
        </div>
    </div>
    <div style="position: absolute; top: 235px; left:600px; min-width: 900px; padding-top: 3.5%;">
        <div class="navbar">
            <a href="#home">Select Exercise</a>
            <div class="dropdown">
                <button class="dropbtn">Exercise
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    {% for excercise in myexercises %}
                    <a href="/myprofile/{{excercise.id}}">{{excercise.name}}</a>
                    {% endfor %}
                </div>
            </div> 
        </div>
        {% if chart_list %}
        <div id='cht' style="min-width: 310px; height: 400px; max-width: 900px; margin: 0 auto;">{{ chart_list|load_charts:"cht" }}</div>
        {% endif %} 
    </div>  
</body>
</html>