<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static '/css/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static '/css/ProfilePage.css' %}">
</head>
<body>
    <header>
        <img class="logo" src="/static/imgs/Gym_Bro_logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="logout">Logout</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Workout</button></a>
    </header>
    <div class="card">
        <div class="info">
            <!-- Use Jinja to put info from our Database in the Code below -->
            <div class="name">{{user.first_name}} {{user.last_name}}</div>
            <div class="divider"></div>
            <!-- Use Jinja to put info from our Database in the code below -->
            <!-- Character limit for validatior should be no more than 180. -->
            <div class="bio">
                need to put description tag here
            </div>
            <!-- If we want to work on adding friends between users -->
            <button id="friend_button">Add Friend</button>
        <div class="photo" style="background: url(/static/imgs/{{user.profile_picture}}); background-size: 100% 100%;">
            <!-- <img src="{% static 'imgs/Michael_and_his_wife.jpg' %}" alt=""> -->
        </div>
        </div>
    </div>
</body>
</html>

