*{
    background: no-repeat;
    background-size: cover;
}
header{
    opacity: 95%;
} 
.container{
    position: absolute;
    top: 10%;
    right: 50%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
}
.topbar{
    text-align: center;
    background-color: #dd4125;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    max-width: 293px;
}
h2{
    text-align: center;
    background-color: #dd4125;
    padding: 5px;
}
table{
    padding: 20px;
    background-color: #dd4125;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}
#start{
  margin: 5px;
}
#stop{
  margin: 5px;
}
#clear{
  margin: 5px;
}
td{
    padding: 20px;

}
#timer{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 17%;
  left: 50.5%;
  font: 72pt;
  padding: 0 10px;
  margin: 5%;
  display: inline-block;
  background-color: #dd4125;
  border-radius: 10px;
  width: 265px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

button[data-setter] {
  outline: none;
  background: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 20px;
  height: 30px;
  color: #edf0f1;
  cursor: pointer;
}

.btn{
    padding: 0;
    margin:0;
}

button[data-setter]:hover { opacity: 0.5; }

.containerr {
    position: absolute;
    top: 30.5%;
    left: 50%;
    width: 300px;
    margin: auto;
    background-color:  #dd4125;
    border-radius: 200px;
    display: inline-block;
    margin: 5%;
}

.setters {
    position: absolute;
    left: 85px;
    top: 75px;
  }

  .minutes-set {
    float: left;
    margin-right: 28px;
  }

.seconds-set { float: right;}

.controlls {
  position: absolute;
  right: 23px;
  top: 90px;
  text-align: center;
  width: 250px;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 65px;
  color: #edf0f1;;
}

#pause {
  outline: none;
  background: transparent;
  border: none;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  position: relative;
}

.play::before {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 22px solid #edf0f1;
}

.pause::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 15px;
  height: 30px;
  background-color: transparent;
  border-radius: 1px;
  border: 5px solid #edf0f1;
  border-top: none;
  border-bottom: none;
}

#pause:hover { opacity: 0.8; }

.e-c-base {
  fill: none;
  stroke: #B6B6B6;
  stroke-width: 4px
}

.e-c-progress {
  fill: none;
  stroke: #edf0f1;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}

.e-c-pointer {
  fill: #FFF;
  stroke: #edf0f1;
  stroke-width: 2px;
}

#e-pointer { transition: transform 0.7s; }
h1 { margin-top:150px; text-align:center;}

